header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: all ease 0.5s;
}

header.black {
    background-color: #141414;
}

.header--logo {
    height: 25px;
}

.header--logo img {
    height: 100%;
}

.header--user {
    height: 35px;
}

.header--user img {
    height: 100%;
    border-radius: 3px;
}


.header--menu {
    margin: 0;
    padding: 0;
    width: auto;
    margin-right:auto;

}


.header--menu ul {
    list-style:none;
}

.header--menu ul li {
    display: inline;
    
}

.header--menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    
}

.header--menu ul li a:hover {
    color: #6D6D6D;
    
}


@media (max-width:760px){
    
    .header--menu {
        display: none;
    }


}